<div class="flex flex-col">
  <app-header title="Stops Management" icon="home"></app-header>

  <button mat-fab extended class="m-2" (click)="onCreateStopBtnClick()">
    <mat-icon class="mr-2">add</mat-icon>
    Create new stop
  </button>

  <div class="my-2 flex flex-col">
    <h2 class="m-2 text-2xl">Existing Stops</h2>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      @for (column of columns; track column) {
        <ng-container [matColumnDef]="column.columnDef">
          <th mat-header-cell *matHeaderCellDef>
            {{ column.header }}
          </th>

          @switch (column.rowType) {
            @case ('date') {
              <td mat-cell *matCellDef="let row">
                {{ column.cell(row) | date }}
              </td>
            }
            @case ('actions') {
              <td mat-cell *matCellDef="let row" class="w-auto">
                <button mat-icon-button (click)="deleteStop(row)" aria-label="Delete">
                  <mat-icon>delete</mat-icon>
                </button>

                <button mat-icon-button (click)="updateStop(row)" aria-label="Delete">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            }
            @case ('hType') {
              <td mat-cell *matCellDef="let row">
                {{ column.cell(row) | holidayTypePipe }}
              </td>
            }
            @default {
              <td mat-cell *matCellDef="let row">
                {{ column.cell(row) }}
              </td>
            }
          }

        </ng-container>
      }
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
  </div>

</div>
