<div class="m-2">
  <h2 mat-dialog-title>Create Route</h2>
  <mat-dialog-content>
    <form [formGroup]="form" class="flex flex-col">

      <mat-form-field class="m-2">
        <mat-label>Number</mat-label>
        <input matInput type="number" formControlName="number"/>
        @if (form.get('number')?.hasError('required')) {
          <mat-error>Number is required</mat-error>
        }
        @if (form.get('number')?.hasError('outOfRange')) {
          <mat-error>Number must be positive.</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="m-2">
        <mat-label>Valid From</mat-label>
        <input matInput [matDatepicker]="validFromPicker" formControlName="validFrom"/>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="validFromPicker"></mat-datepicker-toggle>
        <mat-datepicker #validFromPicker></mat-datepicker>
        <mat-error *ngIf="form.controls['validFrom']?.hasError('required')"> Valid From is required</mat-error>
      </mat-form-field>

      <mat-form-field class="m-2">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="validToPicker" formControlName="validTo"/>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="validToPicker"></mat-datepicker-toggle>
        <mat-datepicker #validToPicker></mat-datepicker>
        <mat-error *ngIf="form.controls['validTo']?.hasError('required')">End date is required</mat-error>
        <mat-error *ngIf="form.errors?.['invalidDateRange']">Valid to cannot be before the valid from.</mat-error>
      </mat-form-field>

      <mat-form-field class="m-2">
        <mat-label>Days of Operation</mat-label>
        <input matInput formControlName="daysOfOperation">
        <mat-error *ngIf="form.controls['daysOfOperation']?.hasError('required')">Days of Operation is required
        </mat-error>
      </mat-form-field>

      <div formArrayName="stops" class="m-3">
        <h2>Stops</h2>
        <button mat-button (click)="addStop()">
          Add Stop
        </button>

        <div *ngFor="let stop of stops.controls; let i = index" [formGroupName]="i">
          <div class="flex flex-row border-solid my-3">
            <mat-form-field class="mx-1">
              <mat-label>Stop Id</mat-label>
              <mat-select formControlName="stopId">
                <mat-option *ngFor="let stop of allStops" [value]="stop.id">{{ stop.name }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="mx-1">
              <mat-label>Dep. Time</mat-label>
              <input matInput [matTimepicker]="scheduledDepartureTime" formControlName="scheduledDepartureTime"/>
              <mat-timepicker-toggle matIconSuffix [for]="scheduledDepartureTime"/>
              <mat-timepicker #scheduledDepartureTime/>
              <mat-error *ngIf="stops.at(i).get('scheduledDepartureTime')?.hasError('required')"> Scheduled Departuer Time
                is required
              </mat-error>
            </mat-form-field>

            <div class="flex flex-row content-start mx-1">
              <button mat-icon-button color="warn" type="button" (click)="upStop(i)">
                <mat-icon>arrow_upward</mat-icon>
              </button>
              <button mat-icon-button color="warn" type="button" (click)="removeStop(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>


    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button class="m-2" (click)="onCancel()">
      <mat-icon> cancel</mat-icon>
      Cancel
    </button>
    <button mat-button class="m-2" (click)="onConfirm()">
      <mat-icon> check</mat-icon>
      Ok
    </button>
  </mat-dialog-actions>
</div>
