<div class="flex flex-col navigationcontainer">

  <app-header title="Route Search" icon="navigation"></app-header>

  <!-- query -->
  <div>
    <form [formGroup]="form" class="m-2 gap-2 flex flex-col">
      <div class="mx-2 flex flex-row">
        <mat-form-field class="flex-grow">
          <mat-label>Stop</mat-label>
          <mat-select formControlName="stopId">
            <mat-option *ngFor="let stopId of stopsCache().keys()"
                        [value]="stopId">
              {{ stopsCache().get(stopId)?.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button class="mx-2" mat-icon-button (click)="onLocateBtnClick()">
          <mat-icon>location_on</mat-icon>
        </button>
      </div>

      <button mat-raised-button (click)="onSearchBtnClick()">
        <mat-icon>search</mat-icon>
        Search
      </button>
    </form>
  </div>

  <!-- result -->
  <div class="flex flex-col">
    <h2 class="m-2 text-2xl">Results</h2>

    <mat-divider class="m-2"/>

    <div *ngFor="let route of routesResult()" class="m-2 flex flex-row text-lg">
      <h1>
        Line
        <span class="mx-2">{{route.number}}</span>
        to
        <span class="mx-2">{{getRouteDestination(route).stop.name}}</span>
        at
        <span class="mx-2">{{getStopOnRoute(route).routeStop.scheduledDepartureTime}}</span>
      </h1>
    </div>
  </div>

</div>
